Django==4.2.16
djangorestframework
gunicorn
scikit-learn==1.6.0
opencv-python
opencv-python-headless
tensorflow
torch
torchvision
torchaudio
scipy
seaborn
xgboost
lightgbm
catboost
requests
beautifulsoup4
lxml
psycopg2-binary
joblib
numpy
pandas
matplotlib
pillow

gunicorn
