{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block css %} <link rel="stylesheet" href="{% static 'css/home.css' %}"> {% endblock %}

{% block content %}
  <div class="home">
    <div class="login-frame">
       <h1 class="title">Login</h1>
       <form class="login-form" method="post" action = ".">
        {% csrf_token %}
        <input type="text" id="username" name="username" placeholder="username" class="input-field" />
        <input type="password" id="password" name="password" placeholder="password" class="input-field" />
        <a href=""><p class="forget">Forget password ?</p></a>
        <div class="role-selection">
            <label>
                <input type="radio" name="role" value="ADMIN" class="radio-button" /> Adminstrators
            </label>
            <label>
                <input type="radio" name="role" value="TECH" class="radio-button" /> Technicians
            </label>
        </div>
        <div>
            <button class="login-button">LogIn</button>
        </div>
       </form>
       {% include "includes/message.html" %}
    </div>
    
  </div>
{% endblock %}
