.messages {
    color: white;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 30px;
    padding: 0;
    margin-top: 20px;
  }
  
  .messages li {
    list-style: none;
  }

  .messages .success-message {
    width: 100%;
    height: 100%;
    background-color: green;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .messages .error-message {
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
  }