
nav {
    background-color: rgba(247,247,247,255);
    padding: 40px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}



.hello {
    color:rgb(192, 24, 24);
}

.nav-logo {
    height: 70px; 
    width: auto;  
    
}

/* تنسيق القائمة المنسدلة */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
  }
  
  .dropdown-menu {
    display: none;  /* مخفية افتراضيًا */
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    overflow: hidden;
  }
  
  .dropdown-menu li {
    padding: 10px;
    text-align: left;
  }
  
  .dropdown-menu a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
  }
  
  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }
  
  /* إظهار القائمة عند النقر */
  .show {
    display: block;
  }
