
nav {
    background-color: rgba(247,247,247,255);
    padding: 40px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 60px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(220, 31, 31);  
    transition: ease-in-out;
    transition-duration: 0.2s;
}



.nav-logo {
    height: 70px; 
    width: auto;  
    
}


.active {
    color: red; /* Highlight the active link in red */
    font-weight: bold; /* Make the active link bold */
}




  
